@model HemaVideoLib.Models.SectionSummary

<div style="margin-left: 25px">
	@Html.Raw("<h" + (Model.Depth + 1) + ">")

	<a href="~/demo/book/@Model.BookKey/section/@(Model.SectionKey)">
		@Model.SectionName
		@if (!string.IsNullOrEmpty(Model.PageReference))
		{
			@( " (" + Model.PageReference + ")" )
		}
	</a>@(Model.VideoPlayCount(2))

	@Html.Raw("</h" + (Model.Depth + 1) + ">")

	@if (Model.Depth <= 2)
	{

		@if (Model.Subsections.Count > 0)
		{

			@foreach (var section in Model.Subsections)
			{
				@Html.Partial("_SectionSummary", section)
			}
		}
	}
</div>