@model HemaVideoLib.Models.SectionDetail

@{
    ViewData["Title"] = Model.SectionName;
}

<h1>
    @Model.SectionName
</h1>
<div>
    Source: <a href="~/demo/book/@Model.BookKey">@Model.BookName</a>
    @if (!string.IsNullOrEmpty(Model.PageReference))
    {
        @*<h3>Reference @Model.PageReference</h3>*@
        <text> (@Model.PageReference)</text>

    }
</div>



<h2>Videos</h2>
@foreach (var video in Model.Videos)
{
    if (video.VideoServiceKey == 1)
    {
        <iframe width="560" height="315" src="//www.youtube.com/embed/@(video.VideoServiceVideoId)" frameborder="0" allowfullscreen></iframe><br />

    }
    else
    {
        <a href="@(video.Url)">@(video.Url)</a>
    }
}

@if (Context.User.Identity.IsAuthenticated)
{
    <div>Add videos is coming soon!</div>
}
else
{
    <div>Login to add videos.</div>
}



@if (Model.Subsections.Count > 0)
{
    <h2>Sections</h2>


    @foreach (var section in Model.Subsections)
    {
        @Html.Partial("_SectionSummary", section)
    }
}