@model HemaVideoLib.Models.SectionDetail

@{
	ViewData["Title"] = Model.SectionName;
}

<h1>
	@Model.SectionName
	@if (Model.CanEdit)
	{
		<a href="/tools/HemaVideoTools.application?book=@(Model.BookKey)&section=@(Model.SectionKey)">Edit</a>
	}
</h1>
<div>
	Source: <a href="~/demo/book/@Model.BookKey">@Model.BookName</a>
	@if (!string.IsNullOrEmpty(Model.PageReference))
	{
		<text> (@Model.PageReference)</text>
	}
</div>
@if (Model.Translations.Count > 0)
{
	<h2>Translations</h2>
	foreach (var translation in Model.Translations)
	{
		<div style="margin-left: 25px; margin-right: 25px">
			<h3>@(translation.TranslationTitle) <i>@(translation.TranslatorName)</i></h3>
			<div style="font-style: italic">
				@(translation.Translation)
			</div>
			<h4>Copyright</h4>
			<div>
				@(translation.Copyright)
			</div>
		</div>
	}
}

@if (Model.TotalPlayCount > 0)
{
	var agentStyle = "background-color:mistyrose";
	var patientStyle = "background-color:khaki";

	<h2>Plays</h2>

	@foreach (var play in Model.Plays)
	{

		<h3 id="@("Play" + play.PlayKey)">@(play.VariantName ?? "Basic Play")</h3>

		<table class="gridtable">
			<tr><th>Agent</th><th>Patient</th><th>Measure</th></tr>
			<tr><td style="@agentStyle">@play.AGuardFullName</td><td style="@patientStyle">@play.PGuardFullName</td><td>@play.MeasureName</td></tr>
		</table>
		<div />
		<table class="gridtable">
			<tr>
				<th>Tempo</th>
				<th>Footwork</th>
				<th>Technique</th>
				<th>Target</th>
				<th>Guard</th>
			</tr>
			@foreach (var step in play.Steps)
			{
				var rowStyle = agentStyle;

				@if (step.Actor == 'P')
				{
					rowStyle = patientStyle;
				}
				<tr>
					<td style=@rowStyle>@step.ActorName @step.TempoNumber</td>
					<td style=@rowStyle>@step.FootworkName</td>
					<td style=@rowStyle>@step.TechniqueFullName</td>
					@if (step.TargetKey1.HasValue)
					{
						<td style=@rowStyle>at @step.TargetFull</td>
					}
					else
					{
						<td style=@rowStyle></td>
					}
					@if (step.IntermediateGuardKey.HasValue || step.IntermediateGuardModifierKey.HasValue)
					{
						<td style=@rowStyle>thru @step.IntermediateGuardFullName into @step.GuardFullName</td>
					}
					else if (step.GuardKey.HasValue || step.GuardModifierKey.HasValue)
					{
						<td style=@rowStyle>into @step.GuardFullName</td>
					}
					else
					{
						<td style=@rowStyle></td>
					}
				</tr>
				@if (!string.IsNullOrEmpty(step.Notes))
				{
					<tr>
						<td colspan="5" style=@rowStyle>
							@step.Notes
						</td>
					</tr>

				}
			}
		</table>
	}
	@if (Model.Plays.Count > 0)
	{
		<h5>Warning: This is just a summary of each play. See the original text or translation for details.</h5>
	}

	@foreach (var play in Model.Subsections.ChildPlays())
	{
		<div>
			<a href="~/demo/book/@Model.BookKey/section/@(play.SectionKey)#Play@(play.PlayKey)">
				@play.SectionName
				@if (!string.IsNullOrEmpty(play.VariantName))
				{
					@( " (" + play.VariantName + ")" )
				}
			</a>
		</div>
	}
}

<h2>Videos</h2>
@foreach (var video in Model.Videos)
{
	if (video.VideoServiceKey == 1)
	{
		if (video.StartTime.HasValue)
		{
			<iframe width="560" height="315" src="//www.youtube.com/embed/@(video.VideoServiceVideoId)?start=@(video.StartTime.Value.TotalSeconds)" frameborder="0" allowfullscreen></iframe><br />
		}
		else
		{
			<iframe width="560" height="315" src="//www.youtube.com/embed/@(video.VideoServiceVideoId)" frameborder="0" allowfullscreen></iframe><br />
		}
	}
	else
	{
		<div>  <a href="@(video.Url)">@(video.Description ?? video.Url)</a></div>
	}
}

@if (Context.User.Identity.IsAuthenticated)
{
	<table class="gridtable">
		<tr><th>URL</th><th>Description (optional)</th><th>Author (optional)</th><th>Start Time (optional, H:MM:SS)</th></tr>
		<tr>
			<td><input type="text" id="url" /></td>
			<td><input type="text" id="description" /></td>
			<td><input type="text" id="author" /></td>
			<td><input type="text" id="startTime" /></td>
			<td>
				<input id="showTradeScreen" type="button" value="Save" onclick="addVideo(
    @Model.SectionKey, readValue('url'), readValue('description'), readValue('author'), readValue('startTime'))" />
			</td>
		</tr>
		<tr><td colspan="4">Example start time: 1 min, 45 seconds would be "0:1:45".</td></tr>
	</table>
}
else
{
	<div>Login to add videos.</div>
}

@if (Model.Subsections.Count > 0)
{
	<h2>Sections</h2>

	@foreach (var section in Model.Subsections)
	{
		@Html.Partial("_SectionSummary", section)
	}
}