@model HemaVideoLib.Models.SectionDetail

@{
	ViewData["Title"] = Model.SectionName;
}

<h1>
	@Model.SectionName
</h1>
<div>
	Source: <a href="~/demo/book/@Model.BookKey">@Model.BookName</a>
	@if (!string.IsNullOrEmpty(Model.PageReference))
	{
		<text> (@Model.PageReference)</text>
	}
</div>

@if (Model.Plays.Count > 0)
{
	<h2>Plays</h2>
	<h4>Warning: This is just a summary of the play. See the original text or translation for details.</h4>

	@foreach (var play in Model.Plays)
	{
		<h3>@(play.VariantName ?? "Basic Play")</h3>

		<table class="gridtable">
			<tr><th>Agent</th><th>Patient</th><th>Measure</th></tr>
			<tr><td>@play.AGuardFullName</td><td>@play.PGuardFullName</td><td>@play.MeasureName</td></tr>
		</table>
		<div />
		<table class="gridtable">
			<tr>
				<th>Tempo</th>
				<th>Footwork</th>
				<th>Technique</th>
				<th>Target</th>
				<th>Guard</th>
			</tr>
			@foreach (var step in play.Steps)
			{
				<tr>
					<td>@step.ActorName @step.TempoNumber</td>
					<td>@step.FootworkName</td>
					<td>@step.TechniqueFullName</td>
					@if (step.TargetKey1.HasValue)
					{
						<td>at @step.TargetFull</td>
					}
					else
					{
						<td></td>
					}
					@if (step.IntermediateGuardKey.HasValue)
					{
						<td>thru @step.IntermediateGuardFullName into @step.GuardFullName</td>
					}
					else if (step.GuardKey.HasValue)
					{
						<td>into @step.GuardFullName</td>
					}
					else
					{
						<td></td>
					}
				</tr>
			}
		</table>
	}

}

<h2>Videos</h2>
@foreach (var video in Model.Videos)
{
	if (video.VideoServiceKey == 1)
	{
		if (video.StartTime.HasValue)
		{
			<iframe width="560" height="315" src="//www.youtube.com/embed/@(video.VideoServiceVideoId)?start=@(video.StartTime.Value.TotalSeconds)" frameborder="0" allowfullscreen></iframe><br />
		}
		else
		{
			<iframe width="560" height="315" src="//www.youtube.com/embed/@(video.VideoServiceVideoId)" frameborder="0" allowfullscreen></iframe><br />
		}
	}
	else
	{
		<div>  <a href="@(video.Url)">@(video.Description ?? video.Url)</a></div>
	}
}

@if (Context.User.Identity.IsAuthenticated)
{
	<table class="gridtable">
		<tr><th>URL</th><th>Description (optional)</th><th>Author (optional)</th><th>Start Time (optional)</th></tr>
		<tr>
			<td><input type="text" id="url" /></td>
			<td><input type="text" id="description" /></td>
			<td><input type="text" id="author" /></td>
			<td><input type="text" id="startTime" /></td>
			<td>
				<input id="showTradeScreen" type="button" value="Save" onclick="addVideo(
    @Model.SectionKey, readValue('url'), readValue('description'), readValue('author'), readValue('startTime'))" />
			</td>
		</tr>
	</table>
}
else
{
	<div>Login to add videos.</div>
}

@if (Model.Subsections.Count > 0)
{
	<h2>Sections</h2>

	@foreach (var section in Model.Subsections)
	{
		@Html.Partial("_SectionSummary", section)
	}
}